
#NewListe-content {
    min-height: 800px;
}

#NewListe-content .content-wrapper { }

#NewListe-content .action-btn { }

.add-elements { padding: 15px; padding-right: 10px; }


.book-form li{ display: inline-block; margin-top: 20px; }


.add-btn {
	background:url(../resources/images/addx24.png) no-repeat;
	background-size: 25px;
    cursor:pointer;
    border:none;
    width:24.5px;
    height: 24.5px;
    padding-bottom: 8px;   
    margin-right: 9px;
    outline: none;
}

#nomObject { width: 250px; margin-left: 6px; }
#descriptionObject { width: 500px; margin-left: 6px; }


.action-btn p {
	font-weight: bold;
	margin-left: -150px;
	margin-top: 50px;
	color: black;
}

.action-btn {
	display: inline-block;
	float: left;
	margin-left: 580px;
	margin-bottom: 10px;
}

.newliste-alert {
    text-align: center;    
}


#NewListe-content .content-wrapper {
    margin-left: 10%;
}

#NewListe-content .content-wrapper form {
    width: 50%;
    float: left;
    margin-top: 20px;
}


#EditSpinner {
    margin-top: 150px;
    font-size: 200%;    
    color: gray;
    margin-left: 40%;
}



@media (max-width: 960px) {    
    
     #NewListe-content .content-wrapper {
        margin-left: 0%;
    }
    
    .book-form li{ display: inline-block; margin-top: 20px; margin-left: -30px;}

    .add-btn {
		background:url(../resources/images/addx24.png) no-repeat;
		background-size: 25px;
	    cursor:pointer;
	    border:none;
	    width:24.5px;
	    height: 24.5px;
	    padding-bottom: 8px;   
	    margin-right: 9px;
	    outline: none;
	}
	
    #nomObject { width: 150px; margin-left: 40px; }
	#descriptionObject { width: 150px; margin-left: 40px; }
    
}
    
    
    
    
    
    
    
    