<!-- account.html -->


<div ng-controller="accountCtrl">
    
    <header class="account-header">
         <div class="account-header-content">
             <div class="account-header-content-inner">

                 <div class="user-wrapper"> 
                     <div class="user-infos">
                         <img src="resources/images/man.jpg">
                         <div class="text-wrapper">
                             <h1>[[ username ]]</h1>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </header>



    <div id="account-content" >
        <div class="container">
            <div class="row">

                <div class="account-navbar">
                    <div class="account-navbar-btn-wrapper">
                        <ul>                            
                            <li><button class="btn btn-primary" type="button">
                                Your lists <span class="badge">[[ nombreTotalElements ]]</span>
                            </button>
                            </li>
                            <li><a class="btn btn-default" href="#newliste" role="button">Create a new list</a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="alerteServeur">    
                    <b>Server Error.</b>
                </div>
                
                <div class="account-data">

                    <ul>
                        <li ng-repeat="item in Listes">
                            <div class="item">
                                <div class="page-header">
                                    <h1>[[ item.nom_liste]]</h1>
                                </div>

                                <div class="description">
                                    <p>[[ item.description_liste ]]</p>
                                </div>
                                <button type="button" class="btn btn-warning" data-toggle="modal" ng-click="address(item.id_liste, item.nom_liste)"
                                        data-target="#myModal"><i class="fa fa-pencil-square-o"></i> Edit</button>
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-info" ng-show="!loading" ng-click="loadModeListes()">Load more ...</button>
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate fa-5x" ng-show="loading"></span>
                </div>

        </div>
    </div>



    <!-- MODAL -->    
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit list</h4>
          </div>
          <div class="modal-body">
              <div class="edit-choice-wrapper">
                  <p>Your are about to delete the list: <b>[[ ListName ]]</b></p>
                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="edit()">Edit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="DeleteListe()">Delete</button>  
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
    
    
    
    
    
    
    
    
    
    
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        