<!-- welcome.html -->

<header class="index-header">
  <img src="resources/images/header.jpg">
  <div class="index-header-content">
      <div class="index-header-content-inner">
          <h1>Create your whishlist</h1>
          <hr>
          <p>Create whish lists and keep your friends and familly from making the same present twice.</p>
          
          <a href="#register" class="btn btn-warning btn-xl page-scroll">Sign Up</a>
      </div>
  </div>
</header>


<div class="index-description">
        <div class="page-header">
            <h1>How does it work ?</h1>            
        </div>
        <img class="explain-img" src="resources/images/explain.jpg">
</div>

